body, html {
    height: 100%;
    
}

.img1 {
    background-image: url(../images/castle.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.black-overlay {
    background: #0000004d;
    min-height: 50%;
    max-height: 250%;
    color: #d5d6dc !important;
}

.mainContainer {    
    text-align: center;
}

.output {
    max-width: 100% -40rem;
}

.btn {
    color: #d5d6dc !important;
    background-color: #484446;
}



